{% extends 'public/profile-base.html.twig' %}

{% block profile_content %}

    {{ form_start(changePasswordForm) }}
        <div class="form-container" id="password-change-form">
            <div class="form-column">
                <h1>Промени парола</h1>

                {% for flash in app.flashes('error') %}
                    <div class="alert alert-danger">{{ flash }}</div>
                {% endfor %}
                <div class="form-row">
                    {{ form_row(changePasswordForm.currentPassword) }}

                    {{ form_row(changePasswordForm.newPassword) }}

                    {{ form_row(changePasswordForm.confirmPassword) }}
                </div>

                <div class="submit-btn">
                    <button>Промени парола</button>
                </div>
            </div>
        </div>
    {{ form_end(changePasswordForm) }}
{% endblock %}