{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}


        {{ form_start(form) }}
            <div class="form-container" id="login-form">
                <div class="form-column">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    {% for flash in app.flashes('success') %}
                        <div class="alert alert-success">{{ flash }}</div>
                    {% endfor %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="form-row">
                        {{ form_row(form.email, {'attr':{'value': last_username}}) }}
                    </div>
                    <div class="form-row">
                        {{ form_row(form.password)}}
                    </div>
                    <div class="submit-btn">
                        {{ form_row(form.login) }}
                    </div>
                    {{ form_row(form._token, {'attr': {'value': csrf_token('authenticate')}}) }}
                </div>
            </div>
        {{ form_end(form) }}

{% endblock %}
