{% extends '@EasyAdmin/page/content.html.twig' %}
{% block head_stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
{% endblock %}

{% block head_javascript %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('app.js', ea.assets.defaultAssetPackageName) }}"></script>
{% endblock head_javascript %}
{% block content_title %}
    <h1>Data process </h1>
{% endblock %}

{% block main %}
    <div class="container">
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}
        {% for website, form in forms %}
            <div {{ stimulus_controller('website-toggle') }} class="mb-3">
                <!-- Header with Website Name and Expand/Hide Button -->
                <div data-website-toggle-target="header" class="d-flex justify-content-between align-items-center bg-dark p-3 rounded border">
                    <span class="fw-bold w-25">{{ website | capitalize }}</span>
                    <span class="fw-bold w-25"> {{ files[website] | length }} files</span>
                    <span class="fw-bold w-25">Last processed on: {{ websites[website].processedAt ? websites[website].processedAt|date('Y-m-d H:i:s') : '/' }}</span>
                    <button data-action="click->website-toggle#toggle" data-website-toggle-target="toggleButton" class="btn btn-primary btn-sm">
                        Expand
                    </button>
                </div>

                <!-- Hidden Content -->
                <div data-website-toggle-target="content" style="display: none;" class="border p-3 rounded">
                    <h2>Upload files for {{ website | capitalize }}</h2>
                    {{ form_start(form) }}
                    {{ form_row(form.file) }}
                    {{ form_row(form.upload) }}
                    {{ form_end(form) }}

                    <ul class="list-group" {{ stimulus_controller('file') }}>
                        {% for file in files[website] %}
                            <li class="list-group-item">
                                {{ file }}
                                <button
                                        class="float-end fa fa-close"
                                        data-action="click->file#delete"
                                        data-url="{{ path('app_admin_file_delete', {'name': file, 'website': website}) }}"
                                ></button>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <div {{ stimulus_controller('data-process', {
                        'getFilesUrl': path('app_admin_get_files'),
                        'processCategoriesUrl': path('app_admin_category_process'),
                        'processProductsUrl': path('app_admin_data_process'),
                        'processChoicesUrl': path('app_admin_choices_process'),
                        'deleteProductsAndChoicesUrl': path('app_admin_delete_products_and_choices')
                    })}}>
                        <button
                                class="btn btn-success mt-3"
                                data-action="click->data-process#process"
                                data-data-process-target="dataProcess"
                                data-website="{{ website }}"
                        >
                            Process {{ website }}
                        </button>
                        <div class="logs-container">
                            <div data-data-process-target="logsContainer">
                                <p class="align-self-center text-center mt-5 pt-5">Waiting for the process to start...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}
