{% extends 'base.html.twig' %}

{% block body %}
    {{ include('public/partials/_mobile-nav.html.twig') }}
    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            <h5 class="text-muted mb-0">Благодаря ви за поръчката, <span style="color: #6520ff;">{{ app.user.fullName }}</span>!</h5>
                        </div>
                        <div class="card-body lg-p-4 p-1">
                            {% for transaction in order.orderTransactions %}
                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ transaction.productImage }}"
                                                 class="img-fluid"
                                                 alt="Produkt"
                                                 height="72px"
                                            >
                                        </div>
                                        <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0">{{ transaction.productTitle| length >= 60 ? transaction.productTitle| u.truncate(60)~'...' : transaction.productTitle }}</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty: {{ transaction.quantity }}</p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{ transaction.price }} лв</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-2">
                                            <p class="text-muted mb-0 small">Следи поръчка</p>
                                        </div>
                                        {% if transaction.status == statusForReturn or transaction.status == statusReturned %}
                                            <div class="col-md-10">
                                                <div class="progress" style="height: 6px; border-radius: 16px;">
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: {{ transaction.statusInPercent }}%; border-radius: 16px; background-color: #ff2020;" aria-valuenow="65"
                                                         aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="d-flex justify-content-around mb-1">
                                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">В процес</p>
                                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">За връщане</p>
                                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">Върнат</p>
                                                </div>
                                            </div>
                                        {% else %}
                                        <div class="col-md-10">
                                            <div class="progress" style="height: 6px; border-radius: 16px;">
                                                <div class="progress-bar bg-AI" role="progressbar"
                                                     style="width: {{ transaction.statusInPercent }}%; border-radius: 16px; " aria-valuenow="65"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="d-flex justify-content-around mb-1">
                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">В процес</p>
                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Изпратен</p>
                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Пристигнал</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="d-flex justify-content-between pt-2">
                                <p class="d-lg-block d-none">&nbsp;</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Тотално</span> {{ order.totalPrice }}</p>
                            </div>

                            <div class="d-flex justify-content-between pt-2">
                                <p class="d-lg-block d-none">&nbsp;</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Отстъпка</span> $19.00</p>
                            </div>

                            <div class="d-flex justify-content-between mb-5">
                                <p class="d-lg-block d-none">&nbsp;</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Доставка</span> Free</p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="d-lg-block d-none">&nbsp;</p>
                                <p class="text-muted mb-0">Поръчано на: 22 Dec,2019</p>
                            </div>
                        </div>
                        <div class="card-footer border-0 px-4 py-2 bg-AI">
                            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Платено: <span class="h2 mb-0 ms-2">{{ order.totalPrice }} лв</span></h5>
                        </div>
                        {% if returnedMoney > 0 %}
                            <div class="card-footer border-0 px-4 py-2"
                                 style="background-color: red; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Refund: <span class="h2 mb-0 ms-2">{{ returnedMoney }} лв</span></h5>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}