{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile-container">
        {% include 'public/partials/_profile-nav.html.twig' %}
        <div class="profile-content">
            <div class="actions-mobile-global" {{ stimulus_controller('actions-mobile') }}>
                <span id="open-actions-container" data-actions-mobile-target="open"><i class="bi bi-chevron-compact-right"></i> </span>
                <div class="actions-container" data-actions-mobile-target="container">
                    <span id="close-actions-container" data-actions-mobile-target="close"><i class="bi bi-chevron-compact-left"></i></span>
                    <div class="bg-soft-blue text-dark mobile-nav-links">
                        <a href="{{ path('app_homepage') }}">
                            <span>Начало</span>
                            <i class="bi bi-house-fill"></i>
                        </a>
                        <hr/>
                        <a href="{{ path('app_homepage') }}">
                            <span>Контакт</span>
                            <i class="bi bi-phone-fill"></i>
                        </a>
                        <hr/>
                        <a href="{{ path('app_homepage') }}">
                            <span>Профил</span>
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <hr/>
                        <a href="{{ path('app_homepage') }}">
                            <span>Количка</span>
                            <i class="bi bi-cart-fill"></i>
                        </a>
                        <hr/>
                        <a href="{{ path('app_homepage') }}">
                            <span>Поръчки</span>
                            <i class="bi bi-list-ul"></i>
                        </a>
                    </div>
                    <div class="map-container bg-soft-blue">
                        <ul class="list-group">
                            {% for category in global.getCategories %}
                                <li class="list-group-item p-0 border-0 bg-transparent">
                                    <a
                                            class="map-link text-dark"
                                            href="{{ path('app_public_category_products', {'categorySlug': category.slug}) }}">
                                        {{ category.title }}
                                    </a>
                                </li>
                                <ul class="list-group">
                                    {% for subCategory in category.getSubCategories %}
                                        <li class="p-0 mb-0 align-self-end border-0 fw-lighter bg-transparent" style="width: 90%; font-size: 13px">
                                            <a
                                                    class="map-link text-dark"
                                                    href="{{ path('app_public_sub_category_products', {'categorySlug': category.slug, 'subCategorySlug': subCategory.slug}) }}">
                                                {{ subCategory.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <hr class="my-1"/>
                            {%endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% block profile_content %}{% endblock %}
        </div>
{% endblock %}